[user]
    name = {{ default "Krzysztof Kościuszkiewicz" .name | quote }}
    email = {{ default "k.kosciuszkiewicz@gmail.com" .email | quote }}
{{- if hasSuffix "@arista.com" .email }}
    signingkey = 264FC6F1!
{{- end }}

[init]
    defaultbranch = main

[merge]
    ff = no
    commit = no

[pull]
    rebase = true

[alias]
    st = status -sb
    co = checkout
    ci = commit
    br = branch
    lg = log --oneline --graph
    sw = switch
    amend = commit -a --amend --no-edit

[credential "helperselector"]
    selected = <no helper>
